@import '../../variables-site/variables';
@import 'bootstrap/scss/bootstrap';

html {
    min-height: 100vh;
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ffffff;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #000;
}

.form-control,
.btn {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: inherit;
    line-height: inherit;
}
